:root {
    --numcolor: #ffffff;
    --opercolor: #faebd7;
    --fncolor: #ffffff;

}

#calcCont {
    display: flex;
    justify-content: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    max-height: 600px;
    min-width: 400px;
    min-height: 500px;
    background-color: aliceblue;
}

#display {
    display: flex;
    justify-content: right;
    min-height: 45px;
    background-color: lightseagreen;
}

#buttons {
    display: grid;
    grid-template-rows: repeat(4, 95px);
    grid-template-columns: repeat(4, 95px);
    gap: 5px;
    margin: 10px;
}

#largeButtons {
    display: flex;
}

#clear, #equals {
    min-height: 50px;
    min-width: 195px;
    margin: 5px;
}

.number, .operator, .fn{
    border-radius: 10rem;
}

.operator {
    background-color: var(--opercolor);
}

.number {
    background-color: var(--numcolor);
}