:root {
    --numcolor: #ffffff;
    --opercolor: #faebd7;
    --fncolor: #ffffff;

}

body {
    background-color: blueviolet;
    color: azure;
    text-align: center;
}


#calcCont {
    display: flex;
    justify-content: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    max-height: fit-content;
    min-width: 400px;
    min-height: 500px;
    background-color: aliceblue;
    border-radius: .5em;
    padding: 5px;
}

#display {
    display: flex;
    /* flex-direction: column; */
    text-align: center;
    min-height: 80px;
    padding-right: 8px;
    margin: 13px;
    background-color: rgb(9, 184, 175);
    border-radius: .5em;
    justify-content: space-evenly;
}

#userNumber, #lastKey, #operation {
    min-height: 20px;
    font-size: 24px;
}

#userNumber {
    color: yellow;
    
}

button {
    font-size: 24px;
}

#buttons {
    display: grid;
    grid-template-rows: repeat(4, 95px);
    grid-template-columns: repeat(4, 95px);
    gap: 5px;
    margin: 10px;
    font-size: 24px;
}

#largeButtons {
    display: flex;
}

#clear, #equals {
    min-height: 50px;
    min-width: 195px;
    margin: 5px;
    border-radius: .5em;
    background-color: coral;
}

.number, .operator, .fn{
    border-radius: 10rem;
}

.operator {
    background-color: var(--opercolor);
}

.number {
    background-color: var(--numcolor);
}

.fn {
    background-color: lavender;
}